.App {
}

.card {
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}
